body {
    background-color: palevioletred;
    background-image: url(../images/fondocuadritos.jpg);
}
html {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
}
.parent {
    text-align: center;
    margin: 10px;
    padding: 0px;
    display: grid;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    grid-template-columns: auto auto auto auto;
    grid-template-columns:-webkit-transition: all .2s ease-in-out;
    -moz-transition all: .2s ease-in-out;
    -o-transition all: .2s ease-in-out;
    -ms-transition all: .2s ease-in-out; auto auto auto auto;

}

.parent:hover{
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

header {
    
    grid-template-columns: auto auto auto auto;
    align-content: flex-start;
    justify-content: space-around;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;

}

.salados:hover{
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.container{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.container:hover{
    transition: all 5s;
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
} 